* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.notification-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  color: #0f172a;
  font-family: "roboto";
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}

.notification-list-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 500px;
}

@media screen and (min-width: 768px) {
  .notification-list-container {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .notification-container {
    margin-bottom: 48px;
    margin-top: 16px;
    margin-right: 12px;
    padding-bottom: 16px;
    padding-left: 24px;
  }
}

.notification-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 32px;
  margin-top: 12px;
  margin-right: 8px;
  padding-bottom: 12px;
  padding-left: 18px;
}

.primary-bg-container {
  background-color: #0b69ff;
}

.success-bg-container {
  background-color: #2dca75;
}

.warning-bg-container {
  background-color: #ffb800;
}

.danger-bg-container {
  background-color: #ff0b37;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.message {
  color: #ffffff;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
}
